{% extends 'base.html' %}

{% block content %}
<h2>Lista de Empréstimos</h2>
<a href="{% url 'registrar_emprestimo' %}">+ Registrar Empréstimo</a>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Colaborador</th>
            <th>EPI</th>
            <th>Quantidade</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for e in emprestimos %}
        <tr>
            <td>{{ e.data_emprestimo }}</td>
            <td>{{ e.colaborador.nome }}</td>
            <td>{{ e.epi.nome }}</td>
            <td>{{ e.quantidade }}</td>
            <td>{{ e.status }}</td>
            <td>
                {% if e.status == 'Em uso' %}
                <a href="{% url 'registrar_devolucao' e.id %}">Registrar Devolução</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'dashboard' %}">← Voltar</a>
{% endblock %}
